<!-- Top Navbar -->
<style>
  .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
.dropdown-item:hover, .dropdown-item:focus {
  background-color: #6c757d !important; 
  color: #fff; 
}
</style>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: 1.8rem; font-weight: 100;">Tutor Notebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if(!currentUser) {%>
          <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/register">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
          </li>
        <% } else { %>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<ul id="studentList" class="mt-2" style=" font-style: italic; margin-left: 25rem;">
    <!-- Student names will be populated here -->
</ul>


