    <% layout('/layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <h1 style="font-size: 2rem">My students</h1>

    <div class="list-group list-group-flush">
        <% for (let student of students){%>
            <a class="list-group-item" href="/students/<%= student._id %>"><%= student.name.first %> <%= student.name.last %></a>
        <% } %>

    </div>
        <div>
        <a class="btn btn-outline-secondary" href="/students/new" style="text-decoration: none; margin-top: 1rem; font-weight: 500;">Add a new student</a>
    </div>
