<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
    <h1>All students</h1>
    <div>
        <a href="/students/new">Add a new student</a>
    </div>
    <ul>
        <% for (let student of students){%>
            <li><a href="/students/<%= student._id %>"><%= student.name.first %> <%= student.name.last %></a></li>
        <% } %>

    </ul>
</body>
</html>