<% layout('layouts/boilerplate-guest') -%>

<h2>Reset Password</h2>

<form id="resetForm">
  <input type="password" name="password" placeholder="New password" required />
  <button type="submit">Reset Password</button>
</form>

<p id="message"></p>

<script>
const token = "<%= token %>"
</script>
<script src="/javascripts/reset-password.js"></script>

